
@{
    Layout = "~/Views/Shared/_LayoutSalesExecutive.cshtml";
}


<div class="w3-container tab">
    <table border="1">
        <tr>
            <td>Category Name</td>
            <td>Category Id</td>
            <td>Operations</td>
        </tr>
     
    </table>
</div>

